body {
  font-family: "Microsoft YaHei UI"  ;
  height: 100%;
}

.progress {
  margin-bottom: 30px;
}

.mar_t15{
  margin-top: 15px;
}

.page-header{
  margin-top: 0;
}
.page-header h1{
  margin: 0;
  /*font-weight: bold;*/
  font-size: 16px;
}

.usersearch{
  padding: 10px;
  /*border:solid #ddd;*/
  /*border-top: none;*/
  /*border-bottom: none;*/
}


.footer{
  font-weight: 400;
  text-align: center;
  padding:10px 0;
}
